:root {
  --body_bg_color: black;
}


@keyframes animationExample {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

.animateThis {
  animation: animationExample 2s;
  display: flex;
}

.demo {
  display: flex;
}

html {
  width: 100%;
  height: 100%;
  background: var(--body_bg_color) url('logo.jpg') fixed;
}
