{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["ie 6-8", "safari >= 7"],
                "uglify": true
            },
            "include": ["transform-es2015-arrow-functions", "es6.map"],
            "exclude": ["transform-regenerator", "es6.set"],
            "debug": true
        }]
    ]
}